header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all .6s;

  &.scrolled {
      transform: translateY(-110px);
  }
  
  .header-container {
    width: 1200px;
    max-width: 100%;
    padding: 19px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}